<div class="form__container">
<%= tag.h1('New Comment', class: 'form__title') %>
<%= render 'layouts/alert', flash: flash %>
<%= form_with model: [@post, Comment.new] do |f| %>
  <%= f.text_area :text, rows: 10, placeholder: 'Enter your comment' %>
  <%= f.submit 'Save' %>
<% end %>
</div>