<%= form_with model: Post.new do |form| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %> S
      </div>
    <% end %>       
  <% end %>

 <div class="mb-3">
    <% form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder:" Title of the post" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :text, class:"form-control", placeholder:"Content of the post" %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>

<% end %>