<div class="container">
<%= tag.h1('New Post', class: 'form__title') %>
<%= render 'layouts/alert', flash: flash %>
<%= form_with model: Post.new do |f| %>

<div class="form-group">
  <%=  f.text_field :title, class: 'form-control',  placeholder: 'Enter the content' %> 
</div>
<div class="form-group">
  <%= f.text_area :text, rows: 5, placeholder: 'Enter the content', class: 'form-control'%>
</div>

<div class="form-group">
<%= f.submit 'Save' %>

</div>
  
<% end %>
</div>